<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
background:#ffdde1;
text-align:center;
}
img {
width:250px;
margin:20px;
border-radius:20px;
}
ul {
list-style:none;
}
</style>
</head>
<body>
<h2>Reasons I Love You 💘</h2>

<ul>
<li>Your Smile 😊</li>
<img src="/Smile.jpeg">
<li>Your Care 💕</li>
<img src="/img7.jpg">
<li>Your Support ❤️</li>
<img src="/img6.jpg">

<audio autoplay loop>
<source src="/ijaazat.m4a" type="audio/mp4">
</audio>
</ul>
<!-- <a href="/masti">Secret Naughty Surprise 😜 ➜</a> -->
 <a href="/eye">Ek Aur Surprise ➜</a>

</body>
</html>
