<!DOCTYPE html>
<html>
<head>
<title>Our Story</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
body {
background: linear-gradient(to right,#8e2de2,#ff6a88);
color:white;
text-align:center;
font-family:sans-serif;
}

h2 {
margin-top:50px;
font-size:40px;
text-shadow:0 0 20px pink;
}

p {
background:rgba(255,255,255,0.1);
padding:30px;
border-radius:20px;
box-shadow:0 0 20px pink;
}

a {
display:block;
margin-top:30px;
color:white;
font-size:20px;
}
</style>

</head>

<body>

<h2>Our Story ❤️</h2>

<p style="width:80%;margin:auto;font-size:20px;line-height:35px;">
Jis din tum meri life me aayi na… us din se sab kuch change ho gaya 💖  
Pehle life bas chal rahi thi… lekin tumhare aane ke baad life jeene ka reason mil gaya 🥺  
Tumhari smile, tumhari baatein, tumhara care… sab kuch itna special hai ki ab har din sirf tumhare naam ho gaya hai 💕  

Sach bolu to… tum meri life ka sabse beautiful gift ho 🎁  
Tumhare saath bitaya har ek moment mere liye ek dream jaisa feel hota hai ✨  
Aur ab bas ek hi wish hai dil se…

Mujhe tum hi chahiye patni ke roop me ❤️
</p>

<audio autoplay loop>
    <source src="/tone.mp3" type="audio/mp3">
</audio>

<a href="/reasons">Next ➜</a>

</body>
</html>
